@import "../../styles/variables";

.favorite {
  margin-top: 3rem;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.favorite__page {
  &__form {
    margin: auto;
    max-width: 400px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }

  &__input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 15px 0px 0px 15px;
  }

  &__button {
    float: left;
    width: 20%;
    padding: 10px;
    background: $color-main;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
  }

  &__button:hover {
    background: #0b7dda;
  }

  &__button::after {
    content: "";
    clear: both;
    display: table;
  }
}

/*
.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}


.row .row,
.row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}

.row.wide-fit {
  margin-left: -10px;
  margin-right: -10px;
}

.row.center {
  justify-content: center;
}

.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}

.col-span-1 {
  flex-basis: 8.3333%;
}

.col-span-2 {
  flex-basis: 16.6666%;
}

.col-span-3 {
  flex-basis: 25%;
}

.col-span-4 {
  flex-basis: 33.3333%;
}

.col-span-5 {
  flex-basis: 41.6666%;
}

.col-span-6 {
  flex-basis: 50%;
}

.col-span-7 {
  flex-basis: 58.3333%;
}

.col-span-8 {
  flex-basis: 66.6666%;
}

.col-span-9 {
  flex-basis: 75%;
}

.col-span-10 {
  flex-basis: 83.3333%;
}

.col-span-11 {
  flex-basis: 91.6666%;
}

.col-span-12 {
  flex-basis: 100%;
}



.fixed-width {
  flex: 0 0 500px;
  background-color: rgba(255, 0, 0, 0.1) !important;
}

@media all and (max-width: 568px) {
  .col-span-1,
  .col-span-2,
  .col-span-3,
  .col-span-4,
  .col-span-5 {
    flex-basis: 50%;
  }

  .col-span-6,
  .col-span-7,
  .col-span-8,
  .col-span-9,
  .col-span-10,
  .col-span-11 {
    flex-basis: 100%;
  }

  .nested .col {
    flex-basis: 100%;
  }
}
*/
/*
.favorite__card {
  flex: 1 0 calc(25% - 0.8rem);
  max-width: calc(25% - 0.8rem);
  font-size: 0.9rem;
  padding: 2px;
  border: 1px solid $color-dark-grey;
  background-color: lighten($color-page-bg, 5%);

  @media (min-width: $bp-min-desktop) {
    flex: 1 0 calc(16.5% - 1.5rem);
    max-width: calc(20.5% - 1.5rem);
  }

  &-image {
    position: relative;

    img {
      width: 100%;
    }
  }
  .vote-box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 0;
    margin-left: -22px;
  }
  &-name {
    text-align: center;
    color: #fff;
    margin-top: 4px;
  }
  &-add {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    @media (min-width: $bp-min-desktop) {
      top: 10px;
      right: 10px;
    }

    svg {
      font-size: 1.3rem;
      color: $color-secondary;
      transition: all 0.2s ease-in-out;
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
    }

    &:hover {
      svg {
        color: $color-warning;
      }
    }
  }
}

.favorite_list__box {
  flex: 1 0 calc(25% - 0.8rem);
  max-width: calc(25% - 0.8rem);
  font-size: 0.9rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
  padding: 2px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    border: 1px solid $color-dark-grey;
    background-color: lighten($color-page-bg, 5%);
  }

  @media (min-width: $bp-min-desktop) {
    flex: 1 0 calc(16.5% - 1.5rem);
    max-width: calc(16.5% - 1.5rem);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &-image {
    position: relative;

    img {
      width: 100%;
    }
  }
  .vote-box {
    margin-top: 4px;
    font-size: 0.8rem;
    @media (min-width: $bp-min-desktop) {
      font-size: 0.9rem;
    }
  }
  &-name {
    text-align: center;
    color: #fff;
    margin-top: 4px;
  }
  &-detail {
    font-size: 0.8rem;
    color: $color-dark-grey;
    margin-top: 0.2rem;
  }
}
*/
