@import "../../styles/variables";

.personcard {
  &_container {
    display: flex;
    margin: 0.6rem;
    width: 300px;
  }

  &_details {
    margin-left: 0.4rem;
  }

  &_name {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &_character {
    color: $color-medium-grey;
  }
}
