@import "variables";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: none;
}

h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #bacceb;
  font-weight: 300;
  margin-bottom: 0.6rem;
}

.list {
  margin-top: 0.6rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.page {
    width: 100%;
    max-width: $max-page-width;
    color: $color-primary;
    background-color: $color-page-bg;
    min-height: 100vh;
  
    &__title {
      text-align: center;
      margin: 1rem;
    }
  
    &__content-wrapper {
      margin: 1rem;
    }
  
    &__h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }


