// Colors
$color-primary: #edeff0;
$color-secondary: #bacceb;
$color-app-bg: #cccccc;
$color-page-bg: #2e2d3f;
$color-main: #67aefc;
$color-aside: #000000;
$color-warning: #e61b00;
$color-medium-grey: #a2acbd;
$color-dark-grey: #7c8d9f;

// Breakpoints for media queries
$bp-min-desktop: 769px;

// Sizes
$max-page-width: 1024px;
$page-inner-padding: 1rem;

// font sizes
$font-size-small: 0.7rem;
$font-size-medium: 1rem;
$font-size-large: 1.3rem;
$font-size-xxl: 1.6rem;

// border
$border-radius-medium: 5px;

// misc
$header-h: 7vh;
$footer-h: 4vh;
