@import "../../styles/variables";

.show {
    &__media-wrapper {
        margin-bottom: 0.2rem;
        img {
            width: 100%;
            padding-bottom: 0.5rem;
        }
    }
    &__title {
        color: $color-main;
        font-size: 1.3rem;
        margin-bottom: 0.1rem;
    }
    &__genres,
    &__description,
    &__details {
        font-size: 1rem;
    }
    &__genres,
    &__creators,
    &__details {
        color: $color-dark-grey;
    }
    &__genres,
    &__creators {
        margin-bottom: 0.3rem;
    }
    &__description {
        margin-bottom: 0.8rem;
    }
    &__details {
        line-height: 1.2rem;
    }
}