@import "../../styles/variables";

.shows {
  h1 {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $color-secondary;
    font-weight: 300;
    margin-top: 20px;
  }
  &__list {
    .show__card:nth-child(5),
    .show__card:last-child {
      display: none;
    }

    @media (min-width: $bp-min-desktop) {
      .show__card:nth-child(5),
      .show__card:last-child {
        display: block;
      }
    }
  }
}
