@import "../../styles/variables";

.list__box {
  flex: 1 0 calc(25% - 0.8rem);
  max-width: calc(25% - 0.8rem);
  font-size: 0.9rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
  padding: 2px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    border: 1px solid $color-dark-grey;
    background-color: lighten($color-page-bg, 5%);
  }

  @media (min-width: $bp-min-desktop) {
    flex: 1 0 calc(16.5% - 1.5rem);
    max-width: calc(16.5% - 1.5rem);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &-image {
    position: relative;

    img {
      width: 100%;
      display: block;
    }

    a {
      display: block;
    }

    // Watched/unwatched button: overlay on image, no default button chrome
    .list__box-watched {
      position: absolute;
      top: 4px;
      right: 4px;
      margin: 0;
      padding: 4px;
      min-width: 0;
      background: transparent;
      border: none;
      color: $color-secondary;
      cursor: pointer;
      line-height: 1;
      z-index: 1;

      &:hover {
        color: $color-main;
      }

      &:focus-visible {
        outline: 2px solid $color-main;
        outline-offset: 2px;
        border-radius: 2px;
      }
    }
  }

  &-content {
    margin: 0;
    padding: 0;
  }

  .vote-box {
    margin-top: 4px;
    font-size: 0.8rem;

    @media (min-width: $bp-min-desktop) {
      font-size: 0.9rem;
    }
  }

  &-name {
    text-align: center;
    color: #fff;
    margin-top: 4px;
    margin-bottom: 0;
    font-size: inherit;
  }

  &-detail {
    font-size: 0.8rem;
    color: $color-dark-grey;
    margin-top: 0.2rem;
  }
}