@import "./styles/base";
@import "./styles/variables";
@import "./styles/mixins";

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-app-bg;
  min-height: 100vh;
}
